body,html{
    background: #ffffff 100%;
    width: 100%;
    height: 100%;
}
header{
    background: #72fff3 100% 50%;
    text-align: center;
    color: #0088aa;
    padding-top: 5%;
    padding-bottom: 5%;
    /*width: 100%;*/
    /*height: 100%;*/
}

#Equipe{
    background: #0088aa;
    /*margin-top: 5%;*/
    font-size: 110%;
    width: 100%;
    color: #01f0ff;
}
#Equipe,h3{
    font-size: 200%;
}
.documentação{
    font-size: 150%;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.right{
    float: right;
}
.margin-title{
    margin-top: 5%;
    margin-bottom: 2%;
}
.equipe-item{
    background: #0099FF;
    padding: 2%;
    text-align: center;
}
.equipe-item-impar{
    background: #5dff59;
    padding: 5% 2%;
    text-align: center;
    margin:0 auto;
}
.equipe-item-par{
    background: #7bfff3;
    padding: 5% 2%;
    margin: 0 auto
}
.containner{
    alignment: center;
}
.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: #0088aa;
}


.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

main{
alignment: center;
}

#mainContainer{
    background-color: #ceeae5;
}

footer{
    background: #0578aa 100% 50%;
    text-align: center;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
}


ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}

ol.default li {
    padding-left: 0.25em;
}

ul {
    margin: 0;
    padding: 0;
}

ul.default {
    list-style: none;
}

ul.default li {
    display: block;
    padding: 0.60em 0;
    border-top: 1px solid;
    border-color: rgba(192, 192, 192, 0.15);
}

ul.default > :first-child {
    padding-top: 0;
    border-top: none;
}

ul.icons {
    cursor: default;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
}

ul.icons li:first-child {
    padding-left: 0;
}

ul.actions {
    cursor: default;
}

ul.actions:last-child {
    margin-bottom: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

ul.actions li:first-child {
    padding: 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1.5em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding: 0;
}

ul.contact li {
    padding: 1.05em 0;
    border-top: 1px solid;
    border-color: rgba(192, 192, 192, 0.15);
}

ul.contact li > span {
    display: inline-block;
}

ul.contact li .address, ul.contact li .mail, ul.contact li .phone {
    float: left;
    width: 100px;
    font-weight: 600;
}

ul.contact > :first-child {
    padding-top: 0;
    border-top: none;
}

ul.style li {
    clear: both;
    display: block;
    padding-top: 3em;
}

ul.style > :first-child {
    padding-top: 0;
}

ul.style h3 {
    display: block;
    margin: 0;
    padding-bottom: 0.50em;
    font-size: 1.1em;
    font-weight: 700;
    color: #404040;
}

ul.style .fa {
    float: left;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 1em;
    background: #3ac984;
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    font-size: 2em;
    color: white;
}

ul.list {
    list-style: none;
}

ul.list li {
    display: block;
    padding: 0.60em 0;
    border-top: 1px solid;
    border-color: red;
}

ul.list > :first-child {
    padding-top: 0;
    border-top: none;
}

/* Tables */

table {
    width: 100%;
}

table.default {
    width: 100%;
}

table.default tbody tr {
    border-bottom: solid 1px #888888;
}

table.default td {
    padding: 0.5em 1em 0.5em 1em;
}

table.default th {
    font-weight: 700;
    padding: 0.5em 1em 0.5em 1em;
    text-align: left;
}

table.default thead {
    background: #555555;
    color: #fff;
}